<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Visualization</title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <style>

        .chart-container {
            width: 50vw;  /* 50% of the viewport width */
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #myPieChart {
            width: 100%;
            height: 100%;
        }
    </style>
</head>
<body>
<div class="container">
    <!-- Chart Container -->
    <h1>Members from different locations </h1>
    <label for="MembershipType"> Select Type:</label>
    <select id="MembershipType">
        <option value="All">All</option>
        <option value="Basic">Basic</option>
        <option value="VIP">VIP</option>
        <option value="Premium">Premium</option>
    </select>
    <div class="chart-container">
        <canvas id="myPieChart"></canvas>
    </div>

    <h1>Sports and Leisure Quarterly Membership Sold</h1>
    <div class="chart-container">
        <canvas id="myBarChart"></canvas>
    </div>
</div>
<script src="table-render.js"></script>
<script src="pie-render.js"></script>

</body>
</html>
